<br>

<div class="card text-center" style="margin-left: 580px; width: 200px;">
    <div class="card-header " style="color: white; background-color: rgb(34, 34, 148);">
      <h5>Quick Access</h5>
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-md-4" style="margin-left: 80px;">
        
        <div class="card mb-3" style="width: 440px ;margin-left: 52px; margin-top : 24px ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img class="card-img" src="assets/images/notes.png"
         alt="Card image" style="width:172px;height:200px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class=" card-header " style="color: white; background-color: rgb(34, 34, 148);">Notes</h5> <br>
                  <p class="card-text"><strong>Download College Notes From here</strong></p>
                  <button class="btn " 
                  style="margin-left: 20px;color:white; background-color: rgb(34, 34, 148);">Click here</button>  
                </div>
              </div>
            </div>
        </div>

    </div>
          <div class="col-md-4" style="margin-left: 200px;">

                
  <div class="card mb-3" style="width: 440px ;margin-left: 52px; margin-top : 24px ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="card-img" src="assets/images/mark2.jpg"
         alt="Card image" style="width:172px;height:200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class=" card-header " style="color: white; background-color: rgb(34, 34, 148);">Marks</h5> <br>
          <p class="card-text"><strong>Click to view Marks </strong></p>
          <button class="btn" style="margin-left: 20px;color:white; background-color: rgb(34, 34, 148);">Click here</button>  
        </div>
      </div>
    </div>
  </div>



          </div>


    </div>

    <br><br><br><br><br>




