
<nav class="navbar navbar-expand-sm navbar-dark " style="color:white; background-color: rgb(34, 34, 148);">
    <a href="#" class="navbar-brand">St Joseph's</a>

    <div style="padding-left: 900px; font-size: 20px;font-weight: 200;">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Marks</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Fees</a>
        </li>
       

    </ul>
  
</div>

</nav>
