<br><br>
<div class="card mb-3" style="width: 440px ;margin-left: 52px; margin-top : 12px ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="card-img" src="assets/images/avatar.png"
         alt="Card image" style="width:160px;height:200px;margin-top: 24px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class=" card-header " style="color:white; background-color: rgb(34, 34, 148);">Student Details</h5>
          <div class="card-text"><br>
            <ul style="line-height:220%">
              <li><strong>Name : VIRAT KHOLI</strong></li>
              <li><strong>Rollno : 18CS1240</strong></li>
            </ul>
            </div>
            <button class="btn"  style="margin-left: 20px;color:white; background-color: rgb(34, 34, 148);">Click here</button>  
        </div>
      </div>
    </div>
  </div>
